// components/_popup-noti.scss
.popup-noti {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    font-weight: 400;
    background-color: var(--bg-single-banner);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
    opacity: 1;
    visibility: visible;
    transform: scale(1);
    transition: opacity 0.5s ease, visibility 0.5s ease, transform 0.5s ease;

    &.popup--hidden {
        opacity: 0;
        visibility: hidden;
        pointer-events: none;
        transform: scale(0.95);
    }

    .container-special {
        width: 100%;
        padding: 4.5rem;
        max-width: 80rem;
        margin: 0 auto;
        @include mobile { padding: 3.6rem; }

        .popup-noti__content {
            box-sizing: border-box;
            padding: 4rem 1.6rem;
            width: 100%;
            position: relative;
            background-color: var(--bg-popup-noti);

            .popup-noti__infos {
                display: flex;
                justify-content: center;
                align-items: center;
                .popup-noti__title {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    font-family: var(--text-heading);
                    font-size: 3.2rem;
                    line-height: 5.6rem;
                    @include mobile { font-size: 2.4rem; line-height: 3.6rem; }
                    @include mobileS { font-size: 1.8rem; line-height: 3.6rem; }
                    .popup-noti__desc {
                        @include mobile { font-size: 1.8rem; line-height: 3.6rem; }
                        @include mobileS { font-size: 1.4rem; line-height: 3.6rem; }
                    }
                }
            }
            .btn-close {
                position: absolute;
                top: 1.2rem;
                right: 1.2rem;
                width: 4.8rem;
                height: 4.8rem;
                border: 1px solid var(--border-btn-close);
                border-radius: 50%;
                cursor: pointer;

                i { font-size: 2rem; color: var(--color-plus); }

                @include tablet {
                    width: 3.2rem;
                    height: 3.2rem;
                    right: 0.8rem;
                    background-color: var(--bg-body);
                }
            }
        }
    }
}