/*====== root =====*/ 
:root{
    --text-heading: "Lora", sans-serif;
    --color-desc: #00000060;
    --color-text: #000;
    --color-title: #fff;
    --bg-body: #fff;
    --bg-header: #000;

}

html{
    font-size: 62.5%;
    box-sizing: border-box;
}

body{
    font-size: 1.6rem;
    font-family: "Poppins", sans-serif;
    box-sizing: border-box;
    overflow-x: hidden;

}


/*====== header =====*/ 
.header{
    width: 100%;
    width: auto;
    box-sizing: border-box;


    &__infos{
        height: 3.8rem;
        padding: 0 1rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
        color: var(--color-title);
        background-color: var(--bg-header);

    }
    &__phone{
        font-size: 1.4rem;
        font-weight: 400;
        line-height: 2.4rem;
        
    }

    &__address{
        font-size: 1.4rem;
        font-weight: 400;
        line-height: 2.4rem;
    }

    &__logo{
        width: 100%;
        height: 3.4rem;
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: var(--text-heading);
        font-size: 3.2rem;
        font-weight: 500;
        line-height: 2.4rem;
        background-color: var(--color-title);
        color: var(--color-text);
        text-transform: uppercase;
    }
    &__button{
        display: none;
    }
}

/*=======main  ======*/ 
.main{
    width: 100%;
    height: 100%;
    background-color: var(--bg-body);
    color: var(--color-text);

    /*===== hero-banner ====*/ 
    .hero-banner{
        width: 100%;
        position: relative;
        font-weight: 400;
        color: var(--color-title);

        .container{
            width: 100%;
            height: 100%;

            .hero-banner__background{
                width: 100%;
                height: 100%;

                &-img{
                    object-fit: cover;
                    width: 100%;
                    height: 100%;
                }
            }
            .hero-banner__content{
                box-sizing: border-box;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-49%, -46%);
                width: 35rem;
                height: auto;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                gap: 3rem;
                

                .hero-banner__heading{
                    font-family: var(--text-heading);
                    font-size: 7.2rem;
                    line-height: 9rem;
                    text-transform: uppercase;

                    span{
                        margin-left: 5rem;

                    }

                }
                .hero-banner__desc{
                    font-size: 1.8rem;
                    line-height: 3rem;
                    transform: translate(3%, -20%);

                }
                .hero-banner__link{
                    height: auto;
                    transform: translate(-1%, -15%);

                    &-text{
                        font-weight: 500;
                        font-size: 1.6rem;
                        line-height: 2.4rem;
                        text-transform: uppercase;
                    }
                    &-underline{
                        width: 11rem;
                        height: 0.01rem;
                        border-radius: 4rem;
                        transform: translate(0%, 25%);
                        background-color: var(--bg-body);
                    }
                }
            }
        }
    }
}








