@import "reponsive";


/* ========= Root Variables (Colors, Fonts, Backgrounds) ========= */ 
:root{
    --text-heading: "Lora", sans-serif;
    --color-desc: #00000060;
    --color-text: #000;
    --color-title: #fff;
    --color-pice-new:#D63A2F;
    --color-pice-old:#666666;
    --color-scrolling: #b3aeae;
    --color-input-email: #00000050;
    --color-salebook-tablet: #F3F3F3;
    --color-plus:#000;
    --color-error:#fc2626;
    --bg-body: #fff;
    --bg-header: #000;
    --bg-single-banner: #00000050;
    --bg-selling-desc:#054E4A;
    --bg-selling-title:#000;
    --bg-sale:#A42003;
    --bg-salebook: #6E331a;
    --bg-contactForm: #F6F3EE;
    --bg-contact:#F6F2EE;
    --bg-btn:#ffffff00;
    --bg-btn-contactForm:#000;
    --border-faq-line:#EDEDED;
    --border-faq-line-active: #000;
    --border-contact-link:#D1CECA;
    --border-input-email: #F6F2EE;
    --border-btn-close: #EDEDED;
    --border-contactForm-input:#E6E6E6; 


}

/* ========= Base HTML & body Setup  ========= */
html{
    font-size: 62.5%;
    box-sizing: border-box;
}

body{
    font-size: 1.6rem;
    font-family: "Poppins", sans-serif;
    box-sizing: border-box;
    overflow-x: hidden;
    position: relative;

}

@keyframes scroll-left {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

/*====== container ======*/ 
.container{
    width: 100%;
    max-width: 1410px; 
    margin: 0 auto;
    padding: 0 1.5rem;
    font-weight: 400;
    display: flex;
    flex-direction: column;
    font-family: "Poppins", sans-serif;

    @include desktopS{
        box-sizing: border-box;
    }
}

/*===== button =====*/ 
.btn{
    background-color: var(--bg-btn);
    border: 0px solid var(--bg-body);
}

/*====== header section =====*/ 
.header{
    width: 100%;
    width: auto;
    box-sizing: border-box;
    position: relative;


    &__infos{
        height: 3.8rem;
        padding: 0 1rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
        color: var(--color-title);
        background-color: var(--bg-header);

        @include tablet {
            padding: 0 5rem;
        }

        @include mobile {
            padding: 0 2rem;

        }
    }
    &__phone{
        font-size: 1.4rem;
        font-weight: 400;
        line-height: 2.4rem;

        @include mobile {
            display: none;

        }
    }

    &__address{
        font-size: 1.4rem;
        font-weight: 400;
        line-height: 2.4rem;

        @include mobile {
            margin: 0 auto;
        }
    }

    &__logo{
        width: 100%;
        height: 3.4rem;
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: var(--text-heading);
        font-size: 3.2rem;
        font-weight: 500;
        line-height: 2.4rem;
        background-color: var(--color-title);
        color: var(--color-text);
        text-transform: uppercase;
    }
    &__button{
        width: 100%;
        position: absolute;
        top: 0;
        display: none;
        
        .btn.btn-prev{
            position: absolute;
            transform: translate(50%, 60%);
            left: 0;
            color: var(--bg-body);
        }
        .btn.btn-next{
            position: absolute;
            transform: translate(-50%, 60%);
            right: 0;
            color: var(--bg-body);
        }
        
        @include tablet {
            display: block;

        }
    }

}

/*=======main  ======*/ 
.main{
    width: 100%;
    height: 100%;
    background-color: var(--bg-body);
    color: var(--color-text);

    /*====== popup ======*/ 
    .popup-sales{
        width: 100%;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        font-weight: 400;
        background-color: var(--bg-single-banner);
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 2;
        opacity: 1;
        visibility: visible;
        transform: scale(1);
        transition: opacity 0.5s ease, visibility 0.5s ease, transform 0.5s ease;
        
        
        &.popup--hidden{
            opacity: 0;
            visibility: hidden;
            pointer-events: none;
            transform: scale(0.95);
        }

        .container-special{
            width: 100%;
            padding: 4.5rem;
            max-width: 88rem;
            margin: 0 auto;

            @include tablet{
                max-width: 42rem;
            }
            @include mobileS{
                max-width: 30rem;
            }

            .popup-sales__content{
                position: relative;
                width: 100%;
                display: flex;
                flex-wrap: nowrap;
                background-color: var(--bg-body);

                @include tablet{
                    flex-wrap: wrap;
                }

                .popup-sales__thumbnail img{
                    object-fit: cover;
                    height: 100%;    

                    @include tablet{
                        width: 42rem;
                        height: 24rem;
                    }
                    @include mobileS{
                        width: 30rem;
                        height: 18rem;
                    }
                }

                .popup-sales__infos {
                    width: 100%;
                    display: flex;
                    flex-direction: column;
                    align-items: center;   
                    justify-content: center;
                    padding: 8rem 4rem;

                    @include tablet{
                        padding: 4rem 2rem;
                    }

                    @include mobile {
                        padding: 2.4rem 2.7rem;
                    }

                    .popup-sales__title {
                        font-family: var(--text-heading);
                        font-size: 3.6rem;
                        line-height: 5.6rem;
                        text-align: center; 
                        white-space: normal;

                        span{
                            font-size: 3.2rem;
                            
                            @include mobile {
                                font-size: 2.4rem;
                                line-height: 4rem;
                            }
                        }
                    }

                    .popup-sales__desc {
                        font-size: 1.4rem;
                        line-height: 2.4rem;
                        text-align: center;
                        margin-top: 1.6rem;

                        span {
                            display: block;
                        }
                    }
                }

                .btn-close{
                    position: absolute;
                    top: 1.2rem;
                    right: 1.2rem;
                    width: 4.8rem;
                    height: 4.8rem;
                    border: 1px solid var(--border-btn-close);
                    border-radius: 50%;
                    cursor: pointer;
                    
                    i{
                        font-size: 2rem;
                        color: var(--color-plus);
                    }

                    @include tablet{
                        width: 3.2rem;
                        height: 3.2rem;
                        right: 0.8rem;
                        background-color: var(--bg-body);
                    }
                }
            }
        }
    }

    /*===== hero-banner ====*/ 
    .hero-banner{
        width: 100%;
        position: relative;
        font-weight: 400;
        color: var(--color-title);

        .container-special{
            font-weight: 400;
            display: flex;
            flex-direction: column;
            font-family: "Poppins", sans-serif;

            /* background */ 
            .hero-banner__background{
                width: 100%;
                height: 100%;

                &-img{
                    object-fit: cover;
                    width: 100%;
                    height: 100%;

                }
            }
            /* content */ 
            .hero-banner__content{
                box-sizing: border-box;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-49%, -46%);
                width: 35rem;
                height: auto;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                gap: 3rem;
                
                @include mobile{
                    gap: 2.4rem;
                    width: auto;
                }

                .hero-banner__heading{
                    font-family: var(--text-heading);
                    font-size: 7.2rem;
                    line-height: 9rem;
                    text-transform: uppercase;

                    span{
                        margin-left: 5rem;

                        @include mobile{
                            margin-left: 3.9rem;
                        }
                    }
                    @include mobile{
                        transform: translate(11%, -5%);
                        font-size: 5.6rem;
                        line-height: 7.7rem;
                    }

                }
                .hero-banner__desc{
                    font-size: 1.8rem;
                    line-height: 3rem;
                    transform: translate(3%, -20%);

                    @include mobile{
                        transform: translate(-1%, -65%);
                    }
                }
                .hero-banner__link{
                    height: auto;
                    transform: translate(-1%, -15%);

                    @include mobile{
                        transform: translate(-2%, -85%);
                    }

                    &-text{
                        font-weight: 500;
                        font-size: 1.6rem;
                        line-height: 2.4rem;
                        text-transform: uppercase;
                    }
                    &-underline{
                        width: 11rem;
                        height: 0.01rem;
                        border-radius: 4rem;
                        transform: translate(0%, 25%);
                        background-color: var(--bg-body);
                    }
                }
            }
        }
    }

    /*====== tabs section ====*/ 
    .tabs{
        width: 100%;
        height: 100%;
        box-sizing: border-box;

        .container{
            padding-top: 10rem;
            gap: 4rem;
        
            /*====== header ======*/ 
            .tabs__header{
                display: flex;
                align-items: center;
                justify-content: space-between;
                
                @include tablet{
                    flex-direction: column;
                    gap: 3.2rem;
                }

                .tabs__heading{
                    font-family: var(--text-heading);
                    font-size: 3.6rem;
                    line-height: 4.8rem;

                }
                .tabs__nav{
                    list-style: none;
                    display: flex;
                    justify-content: center;
                    gap: 4rem;

                    @include tablet{
                        justify-content: space-around;
                    }
                    @include mobileS{
                        gap: 2.4rem;
                    }

                    .tabs__nav-item{
                        font-size: 1.6rem;
                        font-weight: 500;
                        line-height: 2.4rem;
                        text-transform: uppercase;
                        padding-bottom: 0.4rem;

                        &.active p{
                            height: 0.01rem;
                            background-color: #000;
                        }
                    }

                    @include mobile{
                        .tabs__nav-item:last-child{
                            display: none;
                        }
                    }
                }
            }
            
            /*======= warp =====*/
            .tabs__wrap{
                width: 100%;
                height: auto;

                .tabs__product-list{
                    display: flex;
                    flex-direction: column;
                    gap: 3rem;
    
                    .tabs__product-include{
                        display: grid;
                        grid-template-columns: 1fr 1fr;
                        gap: 1rem;
                        margin: 0 auto;

                        @include desktopS{
                            grid-template-columns: 1fr;
                        }

                        .tabs__product-item{
                            width: 100%;
                            height: auto;
                            display: flex;
                            flex-direction: column;
                            gap: 1.6rem;

                            .tabs__product-thumbnail img{
                                object-fit: cover;
                                
                                @include desktopS{
                                    width: 100%;
                                }
                            }

                            .tabs__product-content{
                                .tabs__product-category{
                                    height: 2.2rem;
                                    font-size: 1.4rem;
                                    line-height: 2.2rem;
                                    color: var(--color-desc);
                                    text-transform: uppercase;
                                    transform: translate(0%, -24% );
                                }

                                .tabs__product-name{
                                    height: 2.6rem;
                                    font-size: 1.6rem;
                                    line-height: 2.6rem;
                                    font-weight: 500;
                                    margin-bottom: 0.7rem;
                                    
                                }
                                .tabs__product-price{
                                    height: 2.5rem;
                                    font-size: 1.6rem;
                                    line-height: 2.3rem;
                                    font-weight: 400;
                                }
                            }
                        }

                        .tabs__product-group{
                            width: 100%;
                            height: auto;
                            display: flex;
                            flex: 1;
                            gap: 1rem;

                            .tabs__product-item{
                                width: 100%;
                                height: auto;
                                display: flex;
                                margin: 0 auto;
                                flex-direction: column;
                                gap: 1.6rem;
                                position: relative;

                                .tabs__product-thumbnail img{
                                    object-fit: cover;

                                    @include desktopS{
                                        width: 100%;
                                    }
                                }

                                .tabs__product-content{
                                    height: auto;
                                    .tabs__product-category{
                                        font-size: 1.4rem;
                                        line-height: 2.2rem;
                                        color: var(--color-desc);
                                        text-transform: uppercase;
                                    }

                                    .tabs__product-name{
                                        height: auto;
                                        font-size: 1.6rem;
                                        line-height: 2.6rem;
                                        font-weight: 500;
                                        
                                    }
                                    .tabs__product-price{
                                        font-size: 1.6rem;
                                        line-height: 2.3rem;
                                        font-weight: 400;

                                        .price-new{
                                            color: var(--color-pice-new);
                                        }
                                        .price-old{
                                            color: var(--color-pice-old);
                                            text-decoration: line-through;
                                            transform: translate(-10%, 0%);
                                            margin-left: 0.3rem;
                                        }
                                    }
                                }

                                .tabs__selling{
                                    top: 1.2rem;
                                    left: 1.2rem;
                                    position: absolute;
                                    color: var(--color-title);

                                    &-title{
                                        font-weight: 700;
                                        font-size: 1.4rem;
                                        line-height: 1.8rem;
                                        background-color: var(--bg-selling-title);  
                                        padding: 0.3rem 0.9rem;                                      
                                    }
                                    &-desc{
                                        width: 30%;
                                        font-weight: 700;
                                        font-size: 1.4rem;
                                        line-height: 1.8rem;
                                        background-color: var(--bg-selling-desc); 
                                        padding: 0.3rem 0.9rem; 
                                    }
                                }
                                .tabs__product-sale{
                                    box-sizing: border-box;
                                    position: absolute;
                                    height: 4rem;
                                    display: flex;
                                    justify-content: center;
                                    align-items: center;
                                    top: 1.2rem;
                                    left: 1.2rem;
                                    padding: 0.3rem 0.3rem 0.3rem 1rem;
                                    color: var(--color-title);
                                    background-color: var(--bg-sale);
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    /*====== slider section =====*/
    .slider{
        width: 100%;
        height: auto;

        .container{
            padding-top: 5rem;
            gap: 5rem;

            /* header */ 
            .slider__header{
                width: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                .slider__heading{
                    font-family: var(--text-heading);
                    font-size: 3.6rem;
                    line-height: 4.8rem;
                    
                     @include mobile{
                        font-size: 2.8rem;
                        line-height: 3.8rem;
                    }
                }
            }
            /* content */ 
            .slider__card{
                width: 100%;
                margin: 0 auto;
                &-item{
                    background: var(--bg-body);
                    padding: 0 0.8rem;
                    position: relative;
                    .card__thumbnail{
                        img{
                            object-fit: cover;
                        }
                    } 
                    .card__content{
                        display: flex;
                        flex-direction: column;
                        margin-top: 1.6rem;

                        .card__category{
                            height: 2.2rem;
                            font-size: 1.4rem;
                            line-height: 2.2rem;
                            color: var(--color-desc);
                            text-transform: uppercase;
                            transform: translate(0%, -24% );
                        } 
                        .card__name{
                            height: 2.6rem;
                            font-size: 1.6rem;
                            line-height: 2.6rem;
                            font-weight: 500;
                            margin-bottom: 0.7rem;
                        }  
                        .card__price{
                            height: 2.5rem;
                            font-size: 1.6rem;
                            line-height: 2.3rem;
                            font-weight: 400;
                        }
                    }

                    .card__selling{
                        position: absolute;
                        top: 1.2rem;
                        left: 1.2rem;

                        &-title{
                            font-weight: 700;
                            font-size: 1.35rem;
                            line-height: 1.8rem;
                            color: var(--color-title);
                            background-color: var(--color-text);
                            padding: 0.3rem 0.9rem;
                        }
                        &-desc{
                            width: 30%;
                            font-weight: 700;
                            font-size: 1.35rem;
                            line-height: 1.8rem;
                            color: var(--color-title);
                            background-color: var(--bg-selling-desc);
                            padding: 0.3rem 0.9rem;
                        }
                    }
                }
            }
        }
    } 

    /*======= scrolling section =====*/
    .scrolling{
        width: 100%;
        .container-special{
            padding: 0;

            @include tablet{
                padding-right: 0;
            }

            .scrolling__promotion{
                padding: 10rem 0;
                display: flex;
                font-size: 7.4rem;
                font-family: var(--text-heading);
                line-height: 9rem;
                font-weight: 400;
                overflow: hidden;
                white-space: nowrap;
                color: var(--color-scrolling);
                width: 100%;

                @include tablet{
                    padding: 5.8rem 0;
                    font-size: 6rem;
                    line-height: 6.4rem;
                }

                .scrolling__content{
                    display: flex;
                    animation: scroll-left 30s linear infinite;
                    padding-right: 100%; /* để nội dung bắt đầu ngoài khung bên phải */
                    gap: 2rem;
                    align-items: center;

                    .scrolling__promotion-text{
                        padding: 1rem 2.4rem;
                    }
                }
            }
        }
    } 

    /*====== sale-book section ======*/
    .salebook{
        width: 100%;
        
        .container{
            padding-bottom: 10rem;

            @include tablet{
                padding-bottom: 0;
            }

            .salebook__list{
                height: 100%;
                list-style: none;
                display: flex;
                align-items: center;

                @include desktopS{
                    flex-direction: column;
                    gap: 2.4rem;
                }

                .salebook__item{
                    box-sizing: border-box;
                    padding: 0 3.75rem 0  0;
                    color: var(--color-title);
                    font-weight: 400;

                    @include desktopS{
                        padding: 0;
                        width: 50%;
                        img{
                            width: 100%;
                        }
                    }
                    @include mobile{
                        width: 36rem;
                        img{
                            width: 100%;
                        }
                    }
                    .salebook__slogan{
                        width: 100%;
                        box-sizing: border-box;
                        height: 56rem;
                        padding: 0 9rem;
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        padding-top: 3.2rem;
                        background-color: var(--bg-salebook);
                        gap: 11rem;

                        @include mobile {
                            width: 36rem;
                            padding: 0 6.7rem;
                        }

                        .salebook__title{
                            font-size: 1.6rem;
                            font-weight: 500;
                            line-height: 2.4rem;
                            text-transform: uppercase;
                        }
                        .salebook__infos{
                            display: flex;
                            flex-direction: column;
                            justify-content: center;
                            align-items: center;
                            gap: 1.2rem;
                            .salebook__sale{
                                font-family: var(--text-heading);
                                font-size: 5.6rem;
                                line-height: 8rem;

                                @include tablet{
                                    font-size: 4.6rem;
                                    line-height: 6.4rem;
                                    color: var(--color-salebook-tablet);
                                }
                                
                                span{
                                    margin-left: 5rem;
                                }
                            }
                            .salebook__desc{
                                font-size: 1.4rem;
                                line-height: 2.4rem;
                                
                                span{
                                    margin-left: 3rem;
                                }
                            }
                        }

                    }
                }
                .salebook__item:nth-child(n+2) {
                    padding: 0 3.75rem ;

                    @include desktopS {
                        padding: 0;
                    }
                }
            }
        }
    } 

    /* contactForm */
    .contactForm{
        width: 100%;
        background-color: var(--bg-contactForm);

        .container{
            padding-top: 10rem;
            gap: 6rem;

            .contactForm__header{
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: center;

                .contactForm__heading{
                    font-family: var(--text-heading);
                    font-size: 3.6rem;
                    line-height: 4.8rem;

                    @include mobile{
                        font-size: 2.8rem;
                        line-height: 3.8rem;
                    }
                }
            }

            .contactForm__form{
                width: 100%;
                display: flex;
                flex-direction: column;
                gap: 2rem;

                .contactForm__gird{
                    display: grid;
                    grid-template-columns: 1fr 1fr;
                    gap: 5rem;

                    @include tablet {
                        grid-template-columns: 1fr;
                        gap: 1.4rem;
                    }
                    
                    .contactForm__group{
                        box-sizing: border-box;

                        label{
                            font-size: 1.6rem;
                            line-height: 2.4rem;
                        }

                        input{
                            font-family: "Poppins", sans-serif;
                            box-sizing: border-box;
                            width: 100%;
                            padding: 1.4rem 1.7rem;
                            font-size: 1.6rem;
                            line-height: 100%;
                            border: 1px solid var(--border-contactForm-input);
                        }  
                        
                        p{
                            font-size: 1.4rem;
                            color: var(--color-error);
                            padding: 0.5rem;
                        }
                    }
                }
                .contactForm__group.message{
                    width: 100%;

                    label{
                        font-size: 1.6rem;
                        line-height: 2.4rem;

                    }

                    textarea{
                        box-sizing: border-box;
                        font-family: "Poppins", sans-serif;
                        font-size: 1.6rem;
                        line-height: 2.4rem;
                        width: 100%;
                        border: 1px solid var(--border-contactForm-input);
                        min-height: 18rem;
                        
                        @include tablet{
                            height: 20.4rem;
                        }
                    }
                }

                .btn-contactForm{
                    box-sizing: border-box;
                    font-family: var(--text-heading);
                    font-weight: 500;
                    font-size: 1.6rem;
                    line-height: 3rem;
                    letter-spacing: 8%;
                    text-transform: uppercase;
                    margin: 0 auto;
                    width: 22rem;
                    height: 4.8rem;
                    padding: 0.9rem 5rem;
                    cursor: pointer;
                    background-color: var(--bg-btn-contactForm);
                    color: var(--color-title);
                    transition: transform 0.75s ease ;

                    &:hover{
                        transform: scale(1.02);
                    }

                    @include tablet{
                        width: 100%;
                    }
                }

                .contactForm__note{
                    
                    font-size: 1.6rem;
                    line-height: 2.4rem;
                    color: var(--color-text);
                    margin-bottom: 5.6rem;
                    margin-top: 2rem;
                    margin-left: auto;
                    margin-right: auto;
                }
            }
        }
    }
    

    /*====== inspiration section =====*/ 
    .inspiration{
        width: 100%;
        .container{
            color: var(--color-text);
            padding-top: 4.7rem;
            padding-bottom: 10rem;

            /* header */ 
            .inspiration__header{
                transform: translate(3%, 0%);
                width: 50%;
                display: flex;
                margin: 0 auto;
                padding: 0 0 6rem 0;

                @include desktopS{
                    width: 60%;
                    padding: 0 0 4.9rem 0;
                }
                @include tablet{
                    width: 40rem;
                }
                @include mobile{
                    width: 35rem;
                }

                .inspiration__heading{
                    padding: 0 4rem;
                    font-family: var(--text-heading);
                    font-size: 3.6rem;
                    line-height: 4.8rem;
                    color: var(--color-text);

                    @include tablet{
                        padding: 0;
                    }

                    @include mobile{
                        font-size: 2.8rem;
                        line-height: 3.8rem;
                    }

                    .inspiration__space2{
                        margin-left: 0;
                        @include mobile{
                            margin-left: 1.8rem;
                        }
                    }

                    span{
                        margin-left: 1.6rem;
                        display: inline;

                        .inspiration__space1{
                            margin-left: 0;
                            @include mobile{
                                margin-left: 3.5rem;
                            }
                        }

                        @include mobile{
                            margin: 0;
                        }
                    }
                }
            }
            /* content */ 
            .inspiration__list{
                box-sizing: border-box;
                list-style: none;
                display: flex;
                align-items: center;
                gap: 8.2rem;
                overflow-x: auto;
                scroll-snap-type: x mandatory;
                -webkit-overflow-scrolling: touch;
                scrollbar-width: none;

                &::-webkit-scrollbar {
                    display: none; 
                }

                @include mobile{
                    gap:2.4rem;
                }

                .inspiration__item{
                    scroll-snap-align: start;
                    display: flex;
                    flex-direction: column;
                    gap: 1.6rem;

                    .inspiration__thumbnail img{
                        object-fit: cover;
                    }

                    .inspiration__content{
                        display: flex;
                        flex-direction: column;
                        gap: 0.8rem;
                        .inspiration__title{
                            font-family: var(--text-heading);
                            font-size: 2.4rem;
                            line-height: 3.8rem;

                            @include mobile{
                                font-size: 2rem;
                                line-height: 3rem;
                            }
                        }

                        .inspiration__desc{
                            font-size: 1.6rem;
                            line-height: 2.4rem;

                            @include mobile{
                                font-size: 1.4rem;
                            }
                        }
                    }
                }
            }
        }
    }

    /*======== faq =======*/ 
    .faq{
        width: 100%;
        .container{
            padding-bottom: 10rem;
            color: var(--color-text);

            .faq__header{
                width: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                padding-bottom: 6rem;



                .faq__heading{
                    font-family: var(--text-heading);
                    font-size: 3.6rem;
                    line-height: 4.8rem;

                    span{
                        @include mobileS{
                            margin-left: 2rem;
                        }
                    }

                    @include mobile{

                        font-size: 2.8rem;
                        line-height: 3.8rem;
                    }
                    @include mobileS{
                        width: 50%;
                    }
                    
                }
            }   

            .faq__content-list{
                display: flex;
                flex-direction: column;
                gap: 2rem;

                .faq__content-item{
                    width: 100%;
                    padding: 2rem 0;
                    display: flex;
                    flex-direction: column;
                    gap: 1.6rem;

                    .faq__question{
                        display: flex;
                        justify-content: space-between;
                        border-bottom: 1px solid var(--border-faq-line);
                        padding-bottom: 2rem;

                        .faq__question-text{
                            font-family: var(--text-heading);
                            font-size: 2.6rem;
                            line-height: 3.8rem;

                            @include mobile{
                                font-size: 2rem;
                                line-height: 3rem;
                            }
                        }

                        .faq__question-icon{
                            width: 2rem;
                            height: 2rem;
                            display: flex;
                            justify-content: center;
                            align-items: center;

                            span{
                                display: block;
                                width: 1.5rem;
                                height: 0.2rem;
                                border-radius: 2rem;
                                background-color: var(--color-plus);
                                
                                &:after{
                                    content: "";
                                    transform: rotate(90deg);
                                    display: block;
                                    width: 1.5rem;
                                    height: 0.15rem;
                                    border-radius: 2rem;
                                    background-color: var(--color-plus);
                                    transition: transform 0.5s ease;
                                }
                            }
                        }
                    }

                    .faq__answer{
                        height: 0;
                        overflow: hidden;
                        font-size: 1.6rem;
                        line-height: 2.4rem;
                        transition: height 0.5s ease;
                        
                    }

                    &.--active{
                        .faq__question{
                            border-bottom: 1px solid var(--border-faq-line-active);

                            .faq__question-icon{
                                span::after{
                                    transform: rotate(0deg); 
                                    transition: transform 0.5s ease;  
                                }
                            }
                        }
                        .faq__answer{
                            height: auto;
                        }
                    }
                }
            }                
        }
    }

    /*====== single-banner section ====*/ 
    .single-banner{
        width: 100%;
        position: relative;

        .container-special{
            width: 100%;
            padding: 0;
            
            /* background */ 
            .single-banner__background{
                img{
                    width: 100%;
                    height: 35rem;

                    @include mobile{
                        height: 100%;
                    }
                }
            }
            /* overlay & content */ 
            .single-banner__overlay{
                position: absolute;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                width: 100%;
                height: 100%;
                top: 0;
                left: 0;
                z-index: 10;
                background-color: var(--bg-single-banner);

                .single-banner__content{
                    transform: translate(-3%, 12%);
                    font-weight: 400;
                    color: var(--color-title);
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    gap: 2.4rem;

                    @include tablet{
                        transform: translate(0%, 45%);
                    }

                    .single-banner__title{
                        font-family: var(--text-heading);
                        font-size: 5.6rem;
                        line-height: 8rem;

                        @include tablet {
                            width: 100%;
                        }

                        @include mobile{
                            width: 40%;
                            font-size: 4.8rem;
                            line-height: 6.4rem;
                        }
                    }

                    .single-banner__desc{
                        font-size: 1.6rem;
                        line-height: 2.4rem;
                    }
                }
            }
        }
    }

    /*====== services section =====*/
    .services{
        width: 100%;
        
        .container{
            padding-top: 8rem;
            padding-bottom: 8rem;

            .services__list{
                display: grid;
                grid-template-columns: 1fr 1fr 1fr 1fr;
                gap: 6rem;

                @include tablet{
                    grid-template-columns: 1fr 1fr;
                    gap: 4rem;
                }

                @include mobileS{
                    grid-template-columns: 1fr;
                    gap: 2.4rem;
                }

                .services__item {
                    width: 100%;
                    font-weight: 400;
                    color: var(--color-text);
                    display: flex;
                    flex-direction: column;
                    gap: 2.4rem;

                    @include mobileS{
                        flex-direction: row;
                        gap: 1.6rem;
                    }

                    &-icon {
                        img {
                            object-fit: cover;
                            
                            @include mobileS{
                                width: 4rem;
                            }
                        }
                    }

                    .services__content {
                        display: flex;
                        flex-direction: column;
                        gap: 0.8rem;

                        @include mobileS{
                            gap: 0.4rem;
                        }

                        &-title {
                            font-family: var(--text-heading);
                            font-size: 2rem;
                            line-height: 3.2rem;
                        }

                        &-desc {
                            font-size: 1.6rem;
                            line-height: 2.4rem;

                            @include mobileS{
                                font-size: 1.4rem;
                            }
                        }
                    }
                }
            }
        }
    } 

    /*====== contact section =====*/ 
    .contact {
        position: relative;
        width: 100%;
        background-color: var(--bg-contact);

        .container {
            height: 100%;
            position: relative;
            justify-content: center;
            align-items: center;
            padding: 24.6rem 0;
            text-align: center;

            @include mobile {
            flex-direction: column;
            }
        }

        .contact__content {
            z-index: 2;
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 3.2rem;

            .contact__infos {
                display: flex;
                flex-direction: column;
                gap: 2rem;

                .contact__title {
                    margin: 0 auto;
                    width: 40%;
                    font-size: 1.6rem;
                    font-weight: 500;
                    line-height: 2.4rem;
                    text-transform: uppercase;

                    @include tablet {
                        width: 100%;
                    }
                }

                .contact__address {
                    font-size: 3.2rem;
                    line-height: 5.6rem;
                    font-family: var(--text-heading);

                    .line-desktop {
                        display: inline;

                        @include mobileS {
                            display: none;
                        }
                    }

                    .line-mobile {
                        display: none;

                        @include mobileS {
                            display: inline-block;
                            line-height: 4rem;
                        }
                    }
                }
            }
            .contact__link {
                border: 1px solid var(--border-contact-link);
                padding: 1rem 4rem;
                font-size: 1.6rem;
                text-transform: uppercase;
                }
        }
        .contact__image {
            position: absolute;

            @include mobile {
                width: 11rem;
            }

            img {
                width: 100%;
                object-fit: cover;

                @include mobile {
                    width: 15rem;
                }
                @include mobileS {
                    width: 11rem;
                }
            }
        }

        /* Desktop positions  */  
        .contact__image1 {
            top: 5%;
            left: 5%;
            
            @include desktopS{
                width: 26%;
            }
            @include tablet{
                width: 25%;
            }
        }

        .contact__image2 {
            top: 40%;
            left: 0%;

            @include tablet{
                width: 17%;
            }
        }

        .contact__image3 {
            bottom: 2%;
            left: 15%;

            @include tablet{
                width: 22%;
            }
        }

        .contact__image4 {
            bottom: 12%;
            right: 12%;

            @include tablet{
                width: 22%;
            }
        }

        .contact__image5 {
            top: 8%;
            right: 0%;

            @include tablet{
                width: 28%;
            }
        }

        /* Mobile adjustments */ 
        @include mobile {
            .contact__image1 {
                top: 2rem;
                left: 45%;
                transform: translateX(-50%);
            }

            .contact__image2 {
                top: 9rem;
                left: 2rem;
            }

            .contact__image3 {
                top: 9.5rem;
                left: 80%;
                transform: translateX(-50%);
            }

            .contact__image4 {
                bottom: 6rem;
                left: 76%;
                transform: translateX(-50%);
            }

            .contact__image5 {
                top: 51rem;
                left: 4.5rem;
            }
        }
        @include mobileS{
            .contact__image5 {
                top: 52rem;
                left: 4.5rem;
            }
            .contact__image4 {
                bottom: 11rem;
                left: 76%;
                transform: translateX(-50%);
            }
                
        }
    }
}

/*====== footer section ======*/ 
.footer{
    width: 100%;
    background-color: var(--bg-header);
    color: var(--color-title);
    font-weight: 400;

    .container{
        width: 100%;
        padding: 0;


        .footer__content{
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding-top: 5rem;

            @include mobileS{
                align-items: start;
                padding: 3rem 1.5rem 0 1.5rem;
                width: auto;
            }

            .footer__sale{
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                gap: 0.8rem;

                @include mobileS{
                    align-items: start;
                }

                .footer__title{
                    font-family: var(--text-heading);
                    font-size: 3.2rem;
                    line-height: 4.2rem;

                    @include mobile{
                        font-size: 2.4rem;
                        line-height: 3.4rem;
                    }
                }
                .footer__desc{
                    font-size: 1.6rem;
                    line-height: 2.4rem;
                }
            }
            .footer__form{
                transform: translate(0%, 10%);
                width: 46.5rem;
                position: relative;
                padding-top: 1.6rem;

                @include mobile{
                    width: 36rem;
                    transform: translate(0%, 0%);
                }
                @include mobileS{
                    width: 92%;
                    transform: translate(0%, 0%);
                }

                .input-email{
                    font-family: "Poppins", sans-serif;
                    box-sizing: border-box;
                    width: 100%;
                    font-size: 1.6rem;
                    line-height: 100%;
                    color: var(--color-input-email);
                    padding: 1.4rem 1.7rem;
                    border: 0.1rem solid var(--border-input-email);
                }

                .btn-submit{
                    padding: 1.1rem;
                    position: absolute;
                    background-color: var(--bg-body);
                    border: 0px solid var(--bg-body);
                    top: 0;
                    right: 0;
                    transform: translate(0%, 60%);
                }
            }
        }

        .footer__social-list{
            transform: translate(0%, 15%);
            box-sizing: border-box;
            padding: 2rem 0;
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 2.4rem;
            margin-bottom: 1.8rem;

            @include mobileS{
                padding-left: 1.5rem;
                justify-content: start;
            }
        }

        .footer__copyright{
            display: flex;
            justify-content: center;
            align-items: center;
            padding-bottom: 1rem;

            @include mobileS{
                padding-left: 1.5rem;
                justify-content: start;
            }

            .footer__copyright-link{
                font-size: 1.6rem;
                font-weight: 400;
                line-height: 2.4rem;

                a{
                    color: var(--color-title);
                    text-transform: uppercase;
                    text-decoration: underline;
                }
            }
        }
    }
}







