/*====== contact section =====*/ 
.contact {
    position: relative;
    width: 100%;
    background-color: var(--bg-contact);

    .container {
        height: 100%;
        position: relative;
        justify-content: center;
        align-items: center;
        padding: 24.6rem 0;
        text-align: center;

        @include mobile {
            flex-direction: column;
        }
    }

    .contact__content {
        z-index: 2;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 3.2rem;

        @include mobile{
            gap:0.8rem;
        }

        .contact__infos {
            display: flex;
            flex-direction: column;
            gap: 2rem;

            .contact__title {
                margin: 0 auto;
                width: 40%;
                font-size: 1.6rem;
                font-weight: 500;
                line-height: 2.4rem;
                text-transform: uppercase;

                @include tablet {
                    width: 100%;
                }
                @include mobile {
                    transform: translate(0%, -42%);
                }
            }

            .contact__address {
                font-size: 3.2rem;
                line-height: 5.6rem;
                font-family: var(--text-heading);

                .line-desktop {
                    display: inline;

                    @include mobileS {
                        display: none;
                    }
                }

                .line-mobile {
                    display: none;

                    @include mobileS {
                        display: inline-block;
                        line-height: 5.5rem;
                        transform: translate(0%, -10%);
                    }
                }
            }
        }.contact__tag{
            display: flex;
            align-items: center;
            justify-content: center;
            height: 4.8rem;
            width: 16.6rem;
            border: 1px solid var(--border-contact-link);

            .contact__link {
                font-size: 1.6rem;
                text-transform: uppercase;
            }
        }
    }
    .contact__image {
        position: absolute;

        @include mobile {
            width: 11rem;
        }

        img {
            width: 100%;
             object-fit: cover;

            @include mobile {
                width: 15rem;
            }
            @include mobileS {
                width: 11rem;
            }
        }
    }

    /* Desktop positions  */  
    .contact__image1 {
        top: 6%;
        left: 2%;
            
        @include desktopS{
            width: 26%;
        }
        @include tablet{
            width: 25%;
        }
    }

    .contact__image2 {
        top: 39%;
        left: -2%;

        @include tablet{
            width: 17%;
        }
    }

    .contact__image3 {
        bottom: 9%;
        left: 13%;

        @include tablet{
            width: 22%;
        }
    }

    .contact__image4 {
        bottom: 12%;
        right: 10%;

        @include tablet{
            width: 22%;
        }
    }

    .contact__image5 {
        top: 9%;
        right: -3%;

        @include tablet{
            width: 28%;
        }
    }

    /* Mobile adjustments */ 
     @include mobile {
        .contact__image1 {
            top: 2.4rem;
            left: 41%;
            transform: translateX(-50%);
        }

        .contact__image2 {
            top: 9rem;
            left: 1.5rem;
        }

        .contact__image3 {
            top: 10rem;
            left: 80%;
            transform: translateX(-50%);
        }

        .contact__image4 {
            bottom: 6rem;
            left: 76%;
            transform: translateX(-50%);
        }

        .contact__image5 {
            top: 51rem;
            left: 4.5rem;
        }
    }
    @include mobileS{
        .contact__image5 {
            top: 55rem;
            left: 4.2rem;
        }
        .contact__image4 {
            bottom: 11rem;
            left: 72%;
            transform: translateX(-50%);
        }            
    }
}