/*====== sale-book section ======*/
    .salebook{
        width: 100%;
        
        .container{
            padding-bottom: 10rem;

            @include tablet{
                padding-bottom: 4.8rem;
            }

            .salebook__list{
                height: 100%;
                list-style: none;
                display: flex;
                align-items: center;

                @include desktopS{
                    flex-direction: column;
                    gap: 2.4rem;
                }

                .salebook__item{
                    box-sizing: border-box;
                    padding: 0 3.75rem 0  0;
                    color: var(--color-title);
                    font-weight: 400;

                    @include desktopS{
                        padding: 0;
                        width: 50%;
                        img{
                            width: 100%;
                        }
                    }
                    @include mobile{
                        width: 36rem;
                        img{
                            width: 100%;
                        }
                    }
                    .salebook__slogan{
                        width: 42rem;
                        box-sizing: border-box;
                        height: 56rem;
                        padding: 0 7.2rem;
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        padding-top: 3.2rem;
                        background-color: var(--bg-salebook);
                        gap: 11rem;

                        @include mobile {
                            gap: 9rem;
                        }

                        @include mobile {
                            width: 36rem;
                            padding: 3rem 6rem 0 6rem;
                        }

                        .salebook__title{
                            font-size: 1.6rem;
                            font-weight: 500;
                            line-height: 2.4rem;
                            text-transform: uppercase;
                        }
                        .salebook__infos{
                            display: flex;
                            flex-direction: column;
                            justify-content: center;
                            align-items: center;
                            gap: 1.2rem;
                            .salebook__sale{
                                font-family: var(--text-heading);
                                font-size: 5.6rem;
                                line-height: 8rem;

                                @include tablet{
                                    font-size: 4.6rem;
                                    line-height: 6.4rem;
                                    color: var(--color-salebook-tablet);
                                }
                                
                                span{
                                    margin-left: 5rem;

                                    @include mobile{
                                        margin-left: 4rem;
                                    }
                                }
                            }
                            .salebook__desc{
                                font-size: 1.4rem;
                                line-height: 2.4rem;
                                transform: translate(0%, -5%);
                                
                                span{
                                    margin-left: 3rem;
                                    @include mobile{
                                        margin-left: 3rem;
                                    }
                                }
                            }
                        }

                    }
                }
                .salebook__item:nth-child(n+2) {
                    padding: 0 3.75rem ;

                    @include desktopS {
                        padding: 0;
                    }
                }
            }
        }
    } 