// sections/_scrolling.scss
.scrolling {
    width: 100%;
    .container-special {
        padding: 0;

        @include tablet { padding-right: 0; }

        .scrolling__promotion {
            padding: 10rem 0;
            display: flex;
            font-size: 7.4rem;
            font-family: var(--text-heading);
            line-height: 9rem;
            font-weight: 400;
            overflow: hidden;
            white-space: nowrap;
            color: var(--color-scrolling);
            width: 100%;
            
            @include tablet { padding: 5.8rem 0; font-size: 6rem; line-height: 6.4rem; }

            .scrolling__content {
                display: flex;
                animation: scroll-left 30s linear infinite;
                padding-right: 100%;
                gap: 2rem;
                align-items: center;

                .scrolling__promotion-text { padding: 1rem 2.4rem; }
            }
        }
    }
}