// sections/_services.scss
.services {
    width: 100%;
    .container {
        padding-top: 8rem;
        padding-bottom: 8rem;

        .services__list {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr;
            gap: 6rem;

            @include tablet { grid-template-columns: 1fr 1fr; gap: 4rem; }
            @include mobileS { grid-template-columns: 1fr; gap: 2.4rem; }

            .services__item:nth-child(2){
                
                @include mobile {
                    transform: translate(0%, -6%);
                    .services__content{

                        .services__content-desc{
                            transform: translate(0%, -6%);
                        }
                    }
                }
            }
            .services__item:nth-child(3){
                
                @include mobile {
                    transform: translate(0%, -14%);
                    .services__content{

                        .services__content-desc{
                            transform: translate(0%, -6%);
                        }
                    }
                }
            }
            .services__item:nth-child(4){
                
                @include mobile {
                    transform: translate(0%, -22%);
                    .services__content{

                        .services__content-desc{
                            transform: translate(0%, -6%);
                        }
                    }
                }
            }

            .services__item {
                width: 100%;
                font-weight: 400;
                color: var(--color-text);
                display: flex;
                flex-direction: column;
                gap: 2.4rem;

                @include mobileS { flex-direction: row; gap: 1.6rem; }

                &-icon img { object-fit: cover; @include mobileS { width: 4rem; } }

                .services__content {
                    display: flex;
                    flex-direction: column;
                    gap: 0.8rem;

                    @include mobileS { gap: 0.4rem; }

                    &-title { font-family: var(--text-heading); font-size: 2rem; line-height: 3.2rem; }
                    
                    &-desc { font-size: 1.6rem; line-height: 2.4rem; @include mobileS { font-size: 1.4rem; } }
                }
            }
        }
    }
}